<ul class="my-header">
    {% for item in site.data.navigation %}
      <li ><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
    {% endfor %}
</ul>

<style>


ul.my-header {
    /* 创建水平导航栏 */
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 1px solid #C0C0C0;
    background-color: #C0C0C0;
    text-align: center;
}

ul.my-header li {
    float: left;
    text-decoration: none;
}

ul.my-header li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.my-header li a:hover {
    background-color: #91989b;
}
</style>