<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/listpost.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/footer.css' | relative_url }}">
    {% feed_meta %}
    {% seo %}
  </head>
  <body bgcolor="#dfdede">
    {% include navigation.html %}
    <!-- <p>This article have {{ content | count_words }} words, and it will take {{ content | reading_time | pluralize: "minute" }} to read.</p> -->
    <section class="content">
        {{ content }}
    </section>
  </body>
  <div class="footer">
    <p>This page is created by Github Page.</p>
  </div>
</html>